body {
    /* background-image: url('fundo-manha'); */
    color: white;
    font: normal 15pt Arial;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#area {
    background: green;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

/* input {
    font: normal 18pt Arial;
    width: 100px;
} */

header {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin: 30px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
}


section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}

.card {
    text-align: center;
    padding: 10px;
}



.botao{
    background-color: steelblue;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    transition: .5s;
}

.botao:hover{
    background: rgb(0, 145, 130);
}

select#flista {
    width: 150px;
}



footer {
    background: rgba(0, 0, 0, 0.384);
    text-align: center;
    font-style: italic;
    margin-top: 35px;
    padding: 20px;
    border-radius: 10px;
}