.body {
    height: 100vh;
    margin: 0;

    display: flex;
    
    align-items: center;
}


.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}
/*elementos do tipo block*/
.box{
    width: 100px;
    height: 100px;
    /* margin-bottom: 10px; */
}

.box1 {
    background-color: red;
   
}

.box2 {
    background-color: green;
   
}

.box3{
    background-color: cornflowerblue;
    

}